.header{
    height: 95vh;
    // background-image:linear-gradient(rgba(0, 0, 255, 0.192), rgba(255, 0, 0, 0.322));
    background-image:url('/img/turquoise-gold.jpg');
    background-size: cover;
    background-position: left;
    background-color: #e74cec;
    height: 95vh;
    position: relative;
    /* clip-path: circle(40%)
  */
clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);




}
